body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
    background-color: #444;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 1rem;
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#resume input[type="file"] {
    margin-bottom: 10px;
}

#resume button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resume button:hover {
    background-color: #555;
}
